version: '3.8'

services:
  chat-web:
#    image: apconw/chat-vue3-mvp:1.1.5
    image: crpi-7xkxsdc0iki61l0q.cn-hangzhou.personal.cr.aliyuncs.com/apconw/chat-vue3-mvp:1.1.6
    container_name: chat-vue3-mvp
    environment:
      - TZ=Asia/Shanghai
    ports:
      - "8081:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - chat-service

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    ports:
      - "19000:9000"
      - "19001:9001"
    volumes:
      - ./volume/minio/data:/data
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=12345678
    command: server /data --console-address ":9001"

  chat-service:
#    image: apconw/sanic-web:1.1.5
    image: crpi-7xkxsdc0iki61l0q.cn-hangzhou.personal.cr.aliyuncs.com/apconw/sanic-web:1.1.6
    container_name: sanic-web
    environment:
      - MYSQL_HOST=host.docker.internal
      - MYSQL_PORT=13006
      - MYSQL_USER=root
      - MYSQL_PASSWORD=1
      - MYSQL_DATABASE=chat_db
      - SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:1@host.docker.internal:13006/chat_db
      - DIFY_SERVER_URL=http://host.docker.internal:18000
      - DIFY_DATABASE_QA_API_KEY=app-GIz9dM9GPUXVZOkDRaC0TOxh
      - MINIO_ENDPOINT=host.docker.internal:19000
      - MINIO_ACCESS_KEY=QfIx8FgdpgKtmbFMbKVb
      - MiNIO_SECRET_KEY=DsitWZJT3pecrg020Y2NKCETVpsIc3h2PrKTqONA
      - MODEL_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
      - MODEL_NAME=qwen-plus
      - MODEL_TEMPERATURE=0.75
      - MODEL_API_KEY=sk-a9f7bfdb8bd74ec9bc7759543eba15eb
      - MCP_HUB_COMMON_QA_GROUP_URL=http://host.docker.internal:3300/mcp/fa7646b4-1679-4d1d-9bda-3e9190cfef1a
      - MCP_HUB_DATABASE_QA_GROUP_URL=http://host.docker.internal:3300/mcp/f635fd21-2f44-4a99-8a92-f778b4d3607f
      - TZ=Asia/Shanghai
    ports:
      - "8088:8088"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mysql:
    image: mysql:latest
    container_name: chat-db
    ports:
      - "13006:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=1
      - CHARACTER_SET_SERVER=utf8mb4
      - COLLATION_SERVER=utf8mb4_unicode_ci
      - TZ=Asia/Shanghai
    volumes:
      - ./volume/mysql/data:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf

  mcphub:
    image: samanhappy/mcphub
    container_name: mcphub
    ports:
      - "3300:3000"
    volumes:
      - ./volume/mcp-data/mcp_settings.json:/app/mcp_settings.json
      - ./volume/mcp-data/data:/app/data
    extra_hosts:
      - "host.docker.internal:host-gateway"

  gpt-vis-api:
    image: crpi-7xkxsdc0iki61l0q.cn-hangzhou.personal.cr.aliyuncs.com/apconw/gpt-vis-api:0.0.1
    container_name: gpt-vis-api
    ports:
      - "3100:3000"
    environment:
      MINIO_ENDPOINT: host.docker.internal
      MINIO_PORT: 19000
      MINIO_USE_SSL: "false"
      MINIO_ACCESS_KEY: QfIx8FgdpgKtmbFMbKVb
      MINIO_SECRET_KEY: DsitWZJT3pecrg020Y2NKCETVpsIc3h2PrKTqONA
      MINIO_BUCKET: chart-images
      MINIO_PUBLIC_DOMAIN: "http://localhost:19000"
    extra_hosts:
      - "host.docker.internal:host-gateway"